openapi: 3.1.1
info:
  title: API-Only API (portfolio)
  version: 0.0.0
  description: Every API published across the API-Only landscape.
  contact:
    name: Arc-E-Tect
    email: sedr@arc-e-tect.com
    url: https://discord.gg/HcH7YzTSGH
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.api-only.arc-e-tect.com
    description: Production server
  - url: https://localhost:9090
    description: Local development server
    x-internal: true
tags:
  - name: System
    description: |
      The System tag is used to document the system-level operations of the API.
  - name: UserAccount
    description: Operations related to user account management, including
      registration, lookup, and lifecycle events.
paths:
  /user-account/v1:
    get:
      security: []
      tags:
        - System
      operationId: UserAccountGetRoot
      summary: |
        Get application root
      description: |
        This endpoint returns the basic application information, its name and the currently deployed version of the application.
      responses:
        '200':
          description: |
            Returns a json formatted object containing the application name and version.
          content:
            application/json:
              schema:
                type: object
                required:
                  - versionName
                  - versionCode
                properties:
                  versionName:
                    type: string
                    minLength: 3
                    maxLength: 16
                    examples:
                      - WIREMOCK
                  versionCode:
                    type: number
                    examples:
                      - 1
                  dependencies:
                    type: object
                    description: |
                      Version information of downstream microservices.
                      Null values for versionName and versionCode indicate the service was unreachable.
                    additionalProperties:
                      type: object
                      properties:
                        versionName:
                          type:
                            - string
                            - 'null'
                        versionCode:
                          type:
                            - number
                            - 'null'
        '500':
          description: An unexpected server-side error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerProblemV1'
  /user-account/v1/actuator/health:
    get:
      security: []
      tags:
        - System
      operationId: UserAccountGetHealth
      summary: |
        Check the health status
      description: |
        This endpoint checks the health status of the application.
        It returns a simple status message indicating whether the application is up and running.
      responses:
        '200':
          description: |
            Returns the health status of the application as a single text string.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples:
                      - UP
        '500':
          description: An unexpected server-side error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerProblemV1'
  /user-account/v1/users/{username}:
    get:
      security: []
      tags:
        - UserAccount
      operationId: UserAccountGetUser
      summary: |
        Check whether a user exists
      description: Looks up a user account by username. Returns the user's basic
        profile when found, or 404 when no account with that username exists.
        This operation is used as a precondition check before initiating
        registration.
      parameters:
        - name: username
          in: path
          required: true
          description: The username to look up.
          schema:
            $ref: '#/components/schemas/UsernameV1'
      responses:
        '200':
          description: A user account with the given username exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserV1'
        '404':
          description: No user account with the given username exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserNotFoundProblemV1'
        '500':
          description: An unexpected server-side error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerProblemV1'
  /user-account/v1/users/registrations:
    post:
      security: []
      tags:
        - UserAccount
      operationId: UserAccountInitiateUserRegistration
      summary: |
        Initiate user registration
      description: Starts the registration process for a new API-Only user account.
        The caller provides an email address; API-Only sends a verification
        email containing a one-time verification link to that address. The
        account is not active until the user follows the link and confirms
        ownership of the address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationRequestV1'
      responses:
        '202':
          description: Registration initiated. A verification email has been dispatched to
            the provided address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistrationResponseV1'
        '400':
          description: The request body is missing or contains an invalid username or
            email address.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InvalidRequestProblemV1'
        '409':
          description: A pending or active user account with the given username already
            exists.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsernameAlreadyRegisteredProblemV1'
        '422':
          description: A registration request that is syntactically valid but semantically
            invalid and cannot be processed for that reason.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RegisteredRequestCannotBeProcessedProblemV1'
        '500':
          description: An unexpected server-side error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerProblemV1'
  /user-account/v1/users/registrations/verification-email:
    post:
      security: []
      tags:
        - UserAccount
      operationId: UserAccountResendVerificationEmail
      summary: |
        Resend verification email
      description: Sends a new verification email to the email address associated with
        the pending registration identified by username. The caller provides the
        username; API-Only generates a new one-time verification link and
        dispatches a new verification email to the associated email address.
        This operation is intended for users who did not receive the original
        verification email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationResendEmailRequestV1'
      responses:
        '202':
          description: Verification email resent. A new verification email has been
            dispatched to the provided address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistrationResponseV1'
        '400':
          description: The request body is missing or contains an invalid username.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InvalidRequestProblemV1'
        '404':
          description: No pending registration exists for the given username.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RegistrationNotFoundProblemV1'
        '500':
          description: An unexpected server-side error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerProblemV1'
  /user-account/v1/users/registrations/completion/{verificationLink}:
    get:
      security: []
      tags:
        - UserAccount
      operationId: UserAccountCompleteUserRegistration
      summary: |
        Complete user registration
      description: Completes the registration process for a new API-Only user account.
        The caller provides the verification link received by email; API-Only
        validates the link, creates the user account, and sends a confirmation
        email. The verification link is a one-time token embedded in the
        verification email.
      parameters:
        - name: verificationLink
          in: path
          required: true
          description: The one-time verification token from the verification email.
          schema:
            type: string
            examples:
              - abc123token
      responses:
        '200':
          description: Registration completed. The user account has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountV1'
        '410':
          description: The verification link has been superseded and is no longer valid. A
            new verification email has been sent; use the new link to complete
            registration.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/VerificationLinkSupersededProblemV1'
        '422':
          description: The verification link has expired, or the registration process has
            expired.
          content:
            application/problem+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/VerificationLinkExpiredProblemV1'
                  - $ref: '#/components/schemas/RegistrationProcessExpiredProblemV1'
        '500':
          description: An unexpected server-side error occurred.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerProblemV1'
components:
  schemas:
    ProblemDetailsV1:
      x-fragment-path: openapi/components/common/responses/errors/ProblemDetailsV1.yaml
      title: Problem Details
      description: |
        A machine-readable problem detail, per RFC 9457. Operation-specific error responses compose this schema via `allOf` and fix `type`/`title`/`status` to known values; use this schema directly only where no more specific problem type has been documented.
      type: object
      properties:
        type:
          title: Type
          description: |
            A URI reference that identifies the problem type. Defaults to "about:blank" when no more specific type applies.
          type: string
          format: uri
          default: about:blank
          examples:
            - about:blank
        title:
          title: Title
          description: A short, human-readable summary of the problem type.
          type: string
          examples:
            - Internal Server Error
        status:
          title: Status
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          type: integer
          examples:
            - 500
        detail:
          title: Detail
          description: A human-readable explanation specific to this occurrence of the
            problem.
          type: string
          examples:
            - An unexpected error occurred while processing the request.
        instance:
          title: Instance
          description: A URI reference that identifies the specific occurrence of the
            problem.
          type: string
          format: uri
          examples:
            - https://api.apionly.arc-e-tect.com/v1/users/registrations
      additionalProperties: true
    InternalServerProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/InternalServerProblemV1.yaml
      title: Internal Server Problem
      description: An unexpected server-side error occurred.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: about:blank
              examples:
                - about:blank
            title:
              type: string
              const: Internal Server Error
              examples:
                - Internal Server Error
            status:
              type: integer
              const: 500
              examples:
                - 500
            detail:
              type: string
              examples:
                - An unexpected error occurred while processing the request.
    UsernameV1:
      x-fragment-path: openapi/components/common/schemas/UsernameV1.yaml
      type: string
      description: |
        The unique username of the account.
        Must be 5-12 characters, start with a lowercase letter,
        and contain only lowercase alphanumerics, dashes, or underscores.
      minLength: 5
      maxLength: 12
      pattern: ^[a-z][a-z0-9_-]*$
      examples:
        - alice_1
        - user-name
    UserV1:
      x-fragment-path: openapi/components/apionly/user-account/schemas/UserV1.yaml
      title: User
      type: object
      required:
        - username
        - emailAddress
      properties:
        username:
          $ref: '#/components/schemas/UsernameV1'
        emailAddress:
          type: string
          format: email
          description: The email address associated with the account.
          minLength: 6
          maxLength: 254
          examples:
            - alice@wonderland.com
    UserNotFoundProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/UserNotFoundProblemV1.yaml
      title: User Not Found Problem
      description: The requested user account does not exist.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/user-not-found
              examples:
                - https://api.apionly.arc-e-tect.com/problems/user-not-found
            title:
              type: string
              const: User Not Found
              examples:
                - User Not Found
            status:
              type: integer
              const: 404
              examples:
                - 404
            detail:
              type: string
              examples:
                - No user account with the given username exists.
    UserRegistrationRequestV1:
      x-fragment-path: openapi/components/apionly/user-account/schemas/UserRegistrationRequestV1.yaml
      title: User Registration Request
      type: object
      required:
        - username
        - emailAddress
      properties:
        username:
          $ref: '#/components/schemas/UsernameV1'
        emailAddress:
          type: string
          format: email
          description: The email address of the prospective user.
          minLength: 6
          maxLength: 254
          examples:
            - alice@wonderland.com
    UserRegistrationResponseV1:
      x-fragment-path: openapi/components/apionly/user-account/schemas/UserRegistrationResponseV1.yaml
      title: User Registration Response
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Human-readable confirmation that the verification email was sent.
          minLength: 10
          maxLength: 254
          examples:
            - A verification email has been sent to alice@wonderland.com
    ErrorDetailV1:
      x-fragment-path: openapi/components/common/responses/errors/ErrorDetailV1.yaml
      title: Error Detail
      required:
        - message
        - context
      type: object
      properties:
        message:
          title: Message
          description: The message describing a detail of the error.
          type: string
          minLength: 5
          maxLength: 254
          examples:
            - Divider was 0 (zero).
        context:
          title: Context
          type: string
          minLength: 5
          maxLength: 254
          examples:
            - While calculating the average of an empty list of numbers, the
              divider was 0 (zero).
    InvalidRequestProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/InvalidRequestProblemV1.yaml
      title: Invalid Request Problem
      description: The request body is missing or fails validation.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/invalid-request
              examples:
                - https://api.apionly.arc-e-tect.com/problems/invalid-request
            title:
              type: string
              const: Invalid Request
              examples:
                - Invalid Request
            status:
              type: integer
              const: 400
              examples:
                - 400
            detail:
              type: string
              examples:
                - The registration request is invalid.
            errors:
              title: Errors
              description: The individual validation failures that caused this request to be
                rejected.
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetailV1'
    UsernameAlreadyRegisteredProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/UsernameAlreadyRegisteredProblemV1.yaml
      title: Username Already Registered Problem
      description: A pending or active user account with the given username already exists.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/username-already-registered
              examples:
                - https://api.apionly.arc-e-tect.com/problems/username-already-registered
            title:
              type: string
              const: Username Already Registered
              examples:
                - Username Already Registered
            status:
              type: integer
              const: 409
              examples:
                - 409
            detail:
              type: string
              examples:
                - A pending or active user account with the given username
                  already exists.
    RegisteredRequestCannotBeProcessedProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/RegisteredRequestCannotBeProcessedProblemV1.yaml
      title: Registration request cannot be processed
      description: A registration request that is syntactically valid but semantically
        invalid and cannot be processed for that reason.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/registration-request-cannot-be-processed
              examples:
                - https://api.apionly.arc-e-tect.com/problems/registration-request-cannot-be-processed
            title:
              type: string
              const: Registration Request Cannot Be Processed
              examples:
                - Registration Request Cannot Be Processed
            status:
              type: integer
              const: 422
              examples:
                - 422
            detail:
              type: string
              examples:
                - A registration request that is syntactically valid but
                  semantically invalid and cannot be processed for that reason.
    UserRegistrationResendEmailRequestV1:
      x-fragment-path: openapi/components/apionly/user-account/schemas/UserRegistrationResendEmailRequestV1.yaml
      type: object
      description: Request body for resending a verification email to a pending
        registration identified by username.
      required:
        - username
      properties:
        username:
          $ref: '#/components/schemas/UsernameV1'
    RegistrationNotFoundProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/RegistrationNotFoundProblemV1.yaml
      title: Registration Not Found Problem
      description: No pending registration exists for the given username.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/registration-not-found
              examples:
                - https://api.apionly.arc-e-tect.com/problems/registration-not-found
            title:
              type: string
              const: Registration Not Found
              examples:
                - Registration Not Found
            status:
              type: integer
              const: 404
              examples:
                - 404
            detail:
              type: string
              examples:
                - No pending registration exists for the given username.
    UserAccountV1:
      x-fragment-path: openapi/components/apionly/user-account/schemas/UserAccountV1.yaml
      title: User Account
      type: object
      required:
        - username
        - emailAddress
      properties:
        username:
          $ref: '#/components/schemas/UsernameV1'
        emailAddress:
          type: string
          format: email
          description: The email address associated with the account.
          minLength: 6
          maxLength: 254
          examples:
            - alice@wonderland.com
    VerificationLinkSupersededProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/VerificationLinkSupersededProblemV1.yaml
      title: Verification Link Superseded Problem
      description: The verification link has been superseded and is no longer valid.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/verification-link-superseded
              examples:
                - https://api.apionly.arc-e-tect.com/problems/verification-link-superseded
            title:
              type: string
              const: Verification Link Superseded
              examples:
                - Verification Link Superseded
            status:
              type: integer
              const: 410
              examples:
                - 410
            detail:
              type: string
              examples:
                - The verification link has been superseded and is no longer
                  valid. A new verification email has been sent; use the new
                  link to complete registration.
    VerificationLinkExpiredProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/VerificationLinkExpiredProblemV1.yaml
      title: Verification Link Expired Problem
      description: The verification link has expired.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/verification-link-expired
              examples:
                - https://api.apionly.arc-e-tect.com/problems/verification-link-expired
            title:
              type: string
              const: Verification Link Expired
              examples:
                - Verification Link Expired
            status:
              type: integer
              const: 422
              examples:
                - 422
            detail:
              type: string
              examples:
                - The verification link has expired. Request a new verification
                  email to complete the registration process.
    RegistrationProcessExpiredProblemV1:
      x-fragment-path: openapi/components/common/responses/errors/RegistrationProcessExpiredProblemV1.yaml
      title: Registration Process Expired Problem
      description: The registration process has expired.
      allOf:
        - $ref: '#/components/schemas/ProblemDetailsV1'
        - type: object
          required:
            - type
            - title
            - status
            - detail
          properties:
            type:
              type: string
              const: https://api.apionly.arc-e-tect.com/problems/registration-process-expired
              examples:
                - https://api.apionly.arc-e-tect.com/problems/registration-process-expired
            title:
              type: string
              const: Registration Process Expired
              examples:
                - Registration Process Expired
            status:
              type: integer
              const: 422
              examples:
                - 422
            detail:
              type: string
              examples:
                - The registration process has expired. Start a new registration
                  process.
